.ws-recent-posts-widget {

}
.ws-recent-posts-widget ul.ws-recent-posts {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.ws-recent-posts-widget ul.ws-recent-posts li {
	clear: both;
}
.ws-recent-posts-widget ul.ws-recent-posts li .ws-recent-posts-thumbnail {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.ws-recent-posts-widget ul.ws-recent-posts li .ws-recent-posts-thumbnail img {
	border-radius: 0px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border: 2px solid #FFF;
}
.ws-recent-posts-widget .posted-date-and-author {
	font-size: 0.9em;
	font-style: italic;
}
.ws-recent-posts-widget h4 {
	clear: none;
}
.ws-recent-posts-widget hr {
	margin: 12px 0px;
  background: #F0F0F0;
}